<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Add student</h1>

<form method="POST">
    <input name="first_name" placeholder="First name">
    <input name="last_name" placeholder="Last name">
    <input name="grade" type="number" placeholder="Score">

    <button type="submit">Add</button>
</form>
</body>
</html>