<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <h1>Search student</h1>


    <form method="POST">
        <input  name="data" placeholder="Name or surname">
        <button type="submit">search</button>
    </form>

    

{% if result %}
    {{result.first_name}} - {{result.last_name}} - {{result.grade}}
{% endif %}


<a href="/">Back</a>
</body>
</html>